*{margin:0;padding:0;outline:none;text-decoration:none;border:none;list-style:none}
.cf:after,.cf:before{content:'';display:block}
.cf:after{clear:both}
.cf{zoom:1;clear:both}
img,img:focus{border:none;outline:0}
img{max-width:100%;height:auto}
form{margin:0;padding:0;border:0}
a{color:#181818;text-decoration:none}
a:hover{text-decoration:none}
body,html{width:100%;outline:0}
body{height:100%;overflow-y:hidden;overflow-x:hidden;padding:0;margin:0;color:#212121;font-size:1em;font-weight:400;background:#eaba1f;font-smoothing:antialiased;-moz-font-smoothing:antialiased;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;min-width:320px;font-family:'Open Sans',sans-serif;min-width:320px;position:relative}
.container{max-width:1920px;width:93%}
.wrapper{width:100%;display:inline-block;height:100vh;overflow:hidden}
@font-face{font-family:"'Open Sans', sans-serif";src:url(../fonts/OpenSans-Regular.ttf)}
@media only screen {
.cont-text{color:#fff;padding:2.4em 0;z-index:2;max-width:870px}
.cont-text h1{font-size:1.5em;text-shadow:2px 2px 5px #000}
.cont-text p{font-size:1em;line-height:1.2em;text-shadow:2px 2px 5px #000;max-width:446px;margin:0 auto}
.cover{background:rgba(0,0,0,0.36);left:0;position:absolute;top:0;width:100%;z-index:1;height:100%;display:block}
.logo img{max-width:100%}
.weather-icon,.room img{-webkit-filter:brightness(0) invert(1);filter:brightness(0) invert(1)}
.bg-ylw{background:#eaba1f}
.cnt-cl .cnt-box{background:#faf1d2;height:119px;padding:6px;border-radius:12px}
.cnt-cl.act .bdr{border:3px solid #c49600}
.bdr{border:3px solid transparent}
.icn-sz{max-width:45%}
.cnt-col{padding-top:5.5em;padding-bottom:0;overflow:hidden}
.rooms-det-sec img.h-100 { width: 100%;}
.cnt-cl{max-width:15.5%;padding-left:0;padding-right:.5em;margin-right:1em}
.amnts{position:absolute;bottom:0;z-index:5;right:0}
.bnr-sec{padding-top:5em}
.bg-hd-bnr{background:url(../images/dining/dining-bg.jpg) no-repeat center;background-size:cover}
.bg-hd-chp{background:url(../images/dining/chap-chay-bg.jpg) no-repeat center;background-size:cover}
.bg-hd-asl{background:url(../images/dining/above-sea-level/above-sea-level-background-01.jpg) no-repeat center;background-size:cover}
.bg-hd-cln{background:url(../images/dining/colony/colony-bg-image.jpg) no-repeat center;background-size:cover}
.bg-hd-clb{background:url(../images/rooms/club-room-pic.jpg) no-repeat 12% 70%;background-size:cover}
.bg-hd-exe{background:url(../images/rooms/executive-suite-room-bg.jpg) no-repeat center;background-size:cover}
.bg-hd-psr{background:url(../images/rooms/presidential-suite-room-bg.jpg) no-repeat center;background-size:cover}
.hdng h1{color:#fff;text-transform:uppercase;padding:25px 0;margin-bottom:0;font-size:1.5em;font-weight:800}
.channel-lst{list-style:none;position:relative;padding-top:.875em}
.channel-lst .col{flex-basis:content;margin-bottom:.85em}
.cont-list{position:absolute;top:0;right:0;max-width:70%;padding-top:0;display:none}
li.selected .cont-list{display:-ms-flexbox;display:flex;flex-wrap:wrap}
.cont-list .col{flex:0 0 20%;max-width:20%;padding-left:0}
.col .chnl-pic{transition:all ease-in-out .2s}
.txt-sel{color:#fff;padding:10px 12px;display:inline-block;border-radius:20px;font-size:1.2em}
li.selected .txt-sel{background:#fdf3d5;color:#eaba1f;font-weight:800}
.cnt-cl.act{border:6px solid #8c6c02;border-radius:12px}
.chnl-sec{padding-top:0}
.logo img{width:45%}
.cnt-cl{padding-right:0;border-radius:12px;transition:border .4s ease-out;border:6px solid transparent;background:#faefd1}
.rm-name{color:#eaba1f;font-weight:800;padding:0;line-height:1.2em;font-size:18px}
.rm-name img{border-radius:18px}
.rooms-det-sec .cnt-sec{padding:13em 30px}
.rooms-det-sec .colony-bg .cnt-sec{ padding: 0;}
.cnt-sec p{color:#e9161f;font-size:88%;margin-bottom:.2em;line-height:1.2em}
.cnt-sec button{background:#fdf3d5;border-radius:18px;padding:10px 15px;color:#eaba1f;font-weight:800;position:absolute;bottom:0}
.mnu-pic{width:71%;text-align:center}
.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{opacity:1}
.carousel-control-next,.carousel-control-prev{opacity:1;width:70%}
.carousel-contain{display:inline-block;position:absolute;right:-15px;bottom:-4px;width:10%}
.carousel-inner .carousel-item{height:auto;overflow:hidden}
.frame-slider{border:12px solid #fff}
.carousel-indicators{bottom:-43px}
.sea-level-bg{background:#00284b}
.colony-bg{background:#fff;position:relative;display: flex;align-items: center}
.colony-bg p{color:#414042}
.sea-level-bg p{color:#fff}
.carousel-indicators li{width:10px;height:10px;border-radius:50%}
.colony-bg .bg-ray{background:url(../images/dining/bg-colony.jpg);height:19px;position:absolute;top:0;width:100%;left:0}
.colony-bg .bg-ray:nth-child(3){top:97.5%}
.banq-bg{background:#48362c}
.banq-bg p,.banq-bg h3{color:#fff}
.banq-bg h3{font-weight:800}

.dining .col-dining{ border-radius: 12px; margin-right: 8%; padding-top: 1em; padding-bottom: .45em; max-width: 18%; }
.dining h5{ font-size: 1.5em; margin-bottom: 0; color: #3f6e02; font-weight: 800;}
.dining .col-dining:last-child { margin-right: 0;}
.dining .cnt-col {padding-top: 1em;}
.dining .col-dining span{ color: #3f6e02; line-height: 1em; font-weight: 600; font-size: 1.3em; padding-top: .2em; display: block;}
.dining p{ margin-top: .9em; font-weight: 800; font-size: 1.5em; line-height: 1.1em; color: #000;}

.dining .carousel{ width: 100%; margin: 0 auto; height:auto; padding-top: 1em;}
.dining .carousel-inner .carousel-item{ height: auto;}


}
@media (min-width: 1920px) {
.wrapper{height:100vh;overflow:hidden}
.rgt .col img{max-width:53px}
#date-part,.cnt-txt{font-size:1.1em;line-height:1.1em}
.cnt-col p{font-size:1.3em}
.icn-sz{max-width:50%}
.cont-text h1{font-size:2.5em}
.cont-text p{font-size:1.2em;max-width:527px}
.cnt-cl .cnt-box{height:190px}
}